body{
    background-color: #eee; 
}
.caja{
background-color: #fff;
border-style: solid;
border-width: 1px;
border-color: #ccc;
border-radius: 2px;
border-top: solid 0px;
}
.cabecera{
    padding: 10px;
    border-bottom: solid 1px #ccc;
}
.contenido{
    padding: 10px;
}
.footer{
    padding: 10px;
    border-top: solid  1px #ccc;
}
.aceptar{
background-color: dodgerblue;
border-style: none; /*ojo revisar .cancelar por que se usan maneras distintas para quitar el borde*/
color: #fff;
padding: 3px;
}
.cancelar{
    background-color:darkgray;
border: 0px; /* aqui fue 0px con border y arroba con border style none */
color: #fff;
padding: 3px;
}